@model DMS.Models.AttachmentModels

<script src="~/Scripts/attachments.js"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.APK)
    <div class="content-wrapper">
        <div class="title-info">
            <span>Chọn các tập tin tải lên</span>
        </div>
        <div>
            <div class="k-header">
                <input name="files" id="files" type="file" />
                @Html.Hidden("saveUrl", Url.Action("Save", "Upload"))
                @Html.Hidden("removeUrl", Url.Action("Remove", "Upload"))
                @Html.Hidden("attachmentUrl", Url.Action("SaveAttachments", "Jobs"))
            </div>
        </div>
    </div>
        
}
