@model DMS.Models.AttachmentModels

<script src="~/Scripts/attachments.js"></script>
<script>
    $(document).ready(function () {
        //$("#files").closest(".k-upload").find("span").text("Chọn tập tin tải lên");
        //$('.k-dropzone').find('em').text("Hoặc kéo thả tập tin vào đây")
    });
</script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.APK)
    <div class="content-wrapper">
        <div class="title-info">
            <span>Chọn các tập tin tải lên</span>
        </div>
        <div>
            <div class="k-header">
                <input name="files" id="files" type="file" />
                @Html.Hidden("saveUrl", Url.Action("Save", "Upload"))
                @Html.Hidden("removeUrl", Url.Action("Remove", "Upload"))
                @Html.Hidden("addAttachmentsUrl", Url.Action("AddAttachments", "Jobs"))
                @Html.Hidden("removeAttachmentsUrl", Url.Action("RemoveAttachments", "Jobs"))
            </div>
        </div>
    </div>
    <div class="content-wrapper bottom-toolbar">
        <button id="btnAttachmentCancel" type="button">Đóng</button>
        <script>
            $("#btnAttachmentCancel").kendoButton({
                width: 120,
                icon: "close",
                click: function () {
                    var win = $("#AttachmentDialog").data("kendoWindow");
                    if (win) {
                        win.close();
                    }
                }
            });
        </script>
    </div>
}
