@model DMS.Models.JobModels

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frm-main-filter" }))
{
    <div class="content-wrapper filter">
        <div class="title-info">
            <span>Bộ lọc dữ liệu</span>
        </div>
        <div class="filter-content">
            <div class="content-column-filter-3">
                <div class="content-row-filter">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.JobIDFilter, new { style = "font-weight: normal; font-size: small;" })
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.JobIDFilter, new { style = "width: calc(calc(100% - 10px) - 10px); font-weight: normal; font-size: small;" })
                    </div>
                </div>
                <div class="content-row-filter">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.PosterFilter, new { style = "font-weight: normal; font-size: small;" })
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.PosterFilter, new { style = "width: calc(100% - 10px); font-weight: normal; font-size: small;" })
                    </div>
                    <script type="text/javascript">
                        $("#PosterFilter").dropdownlist({
                            url: '@Url.Action("EmployeeID", "ComboBox")',
                            dataTextField: 'FullName',
                            dataValueField: 'EmployeeID'
                        });
                    </script>
                </div>
                <div class="content-row-filter">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.DeadlineFilter, new { style = "font-weight: normal; font-size: small;" })
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.DeadlineFilter, new { style = "width: calc(100% - 10px); font-weight: normal; font-size: small;" })
                        <script type="text/javascript">
                            $("#DeadlineFilter").kendoDatePicker({
                                format: "dd/MM/yyyy"
                            });
                        </script>
                    </div>
                </div>
                <div class="content-row-filter">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.DepartmentIDFilter, new { style = "font-weight: normal; font-size: small;" })
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.DepartmentIDFilter, new { style = "width: calc(100% - 10px); font-weight: normal; font-size: small;" })
                    </div>
                    <script type="text/javascript">
                        $("#DepartmentIDFilter").dropdownlist({
                            url: '@Url.Action("DepartmentID", "ComboBox")',
                            dataTextField: 'DepartmentName',
                            dataValueField: 'DepartmentID'
                        });
                    </script>
                </div>

            </div>
            <div class="content-column-filter-3">
                <div class="content-row-filter">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.JobNameFilter, new { style = "font-weight: normal; font-size: small;" })
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.JobNameFilter, new { style = "width: calc(calc(100% - 10px) - 10px); font-weight: normal; font-size: small;" })
                    </div>
                </div>
                <div class="content-row-filter">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.RecipientFilter, new { style = "font-weight: normal; font-size: small;" })
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.RecipientFilter, new { style = "width: calc(100% - 10px); font-weight: normal; font-size: small;" })
                    </div>
                    <script type="text/javascript">
                        $("#RecipientFilter").dropdownlist({
                            url: '@Url.Action("EmployeeID", "ComboBox")',
                            dataTextField: 'FullName',
                            dataValueField: 'EmployeeID'
                        });
                    </script>
                </div>
                <div class="content-row-filter">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.PriorityFilter, new { style = "font-weight: normal; font-size: small;" })
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.PriorityFilter, new { style = "width: calc(100% - 10px); font-weight: normal; font-size: small;" })
                    </div>
                    <script type="text/javascript">
                        $("#PriorityFilter").dropdownlist({
                            url: '@Url.Action("PriorityID", "ComboBox")',
                            dataTextField: 'CodeName',
                            dataValueField: 'CodeID'
                        });
                    </script>
                </div>
                <div class="content-row-filter">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.ComplexFilter, new { style = "font-weight: normal; font-size: small;" })
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.ComplexFilter, new { style = "width: calc(100% - 10px); font-weight: normal; font-size: small;" })
                    </div>
                    <script type="text/javascript">
                        $("#ComplexFilter").dropdownlist({
                            url: '@Url.Action("ComplexID", "ComboBox")',
                            dataTextField: 'CodeName',
                            dataValueField: 'CodeID'
                        });
                    </script>
                </div>
            </div>
            <div class="content-column-filter-3">
                <div class="content-row-filter">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.StatusFilter, new { style = "font-weight: normal; font-size: small;" })
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.StatusFilter, new { style = "width: calc(100% - 10px); font-weight: normal; font-size: small;" })
                    </div>
                    <script type="text/javascript">
                        $("#StatusFilter").dropdownlist({
                            url: '@Url.Action("StatusID", "ComboBox")',
                            dataTextField: 'CodeName',
                            dataValueField: 'CodeID'
                        });
                    </script>
                </div>
                <div class="content-row-filter">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.ConfirmerFilter, new { style = "font-weight: normal; font-size: small;" })
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.ConfirmerFilter, new { style = "width: calc(100% - 10px); font-weight: normal; font-size: small;" })
                    </div>
                    <script type="text/javascript">
                        $("#ConfirmerFilter").dropdownlist({
                            url: '@Url.Action("EmployeeID", "ComboBox")',
                            dataTextField: 'FullName',
                            dataValueField: 'EmployeeID'
                        });
                    </script>
                </div>
                <div class="content-row-filter">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.RateFilter, new { style = "font-weight: normal; font-size: small;" })
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.RateFilter, new { style = "width: calc(100% - 10px); font-weight: normal; font-size: small;" })
                    </div>
                    <script type="text/javascript">
                        $("#RateFilter").dropdownlist({
                            url: '@Url.Action("RateID", "ComboBox")',
                            dataTextField: 'CodeName',
                            dataValueField: 'CodeID'
                        });
                    </script>
                </div>
                <div class="content-row-filter">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.CreatedDateFilter, new { style = "font-weight: normal; font-size: small;" })
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.CreatedDateFilter, new { style = "width: calc(100% - 10px); font-weight: normal; font-size: small;" })
                        <script type="text/javascript">
                            $("#CreatedDateFilter").kendoDatePicker({
                                format: "dd/MM/yyyy"
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
}