@model DMS.Models.JobModels

@{
    bool isReadonly = false; // (User.Identity.Name.Equals(Model.Confirmer));
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frm-update-job" }))
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.APK)
    <div class="content-wrapper">
        <div class="error">
            @Html.ValidationMessageFor(model => model.JobID)
            @Html.ValidationMessageFor(model => model.JobName)
            @Html.ValidationMessageFor(model => model.Deadline)
            @Html.ValidationMessageFor(model => model.Note)
            @Html.ValidationMessageFor(model => model.Status)
            @Html.ValidationMessageFor(model => model.Recipient)
        </div>

        <div class="tab-content">
            <div class="content-column">
                <div class="content-row">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.JobID, new { style = "font-weight: normal; font-size: small;" })
                        @Html.HiddenFor(model => model.StatusConfirm)
                        @Html.HiddenFor(model => model.Rate)
                        @Html.HiddenFor(model => model.RateComment)
                        @Html.HiddenFor(model => model.Confirmer)
                        @Html.HiddenFor(model => model.DepartmentID)
                        @Html.HiddenFor(model => model.Poster)
                        @Html.HiddenFor(model => model.Recipient)
                        @Html.HiddenFor(model => model.Completed)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.JobID, new { style = "width: 100%; font-weight: normal; font-size: small;" })
                    </div>
                </div>
                <div class="content-row">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.JobName, new { style = "font-weight: normal; font-size: small;" })
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.JobName, new { style = "width: 100%; font-weight: normal; font-size: small;" })
                    </div>
                </div>
                <div class="content-row">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Deadline, new { style = "font-weight: normal; font-size: small;" })
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Deadline, new { style = "width: 100%; font-weight: normal; font-size: small;" })
                        <script type="text/javascript">
                            $("#Deadline").kendoDatePicker({
                                format: "dd/MM/yyyy"
                            });
                        </script>
                    </div>
                </div>
                
                @*@if (Model.Action == DMS.Models.FormAction.Edit && Model.Status == "2")
                {
                    <div class="content-row">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Rate, new { style = "font-weight: normal; font-size: small;" })
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.Rate, new { style = "width: 100%; font-weight: normal; font-size: small;" })
                            <script type="text/javascript">
                                $("#Rate").dropdownlist({
                                    url: '@Url.Action("RateID", "ComboBox")',
                                    dataTextField: 'CodeName',
                                    dataValueField: 'CodeID'
                                });
                            </script>
                        </div>
                    </div>
                }*@
            </div>
            <div class="content-column">
                <div class="content-row">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Status, new { style = "font-weight: normal; font-size: small;" })
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Status, new { style = "width: 100%; font-weight: normal; font-size: small;" })
                        
                        <script type="text/javascript">
                            $("#Status").dropdownlist({
                                url: '@Url.Action("StatusID", "ComboBox")',
                                dataTextField: 'CodeName',
                                dataValueField: 'CodeID'
                            });
                        </script>
                    </div>
                </div>
                <div class="content-row">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Complex, new { style = "font-weight: normal; font-size: small;" })
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Complex, new { style = "width: 100%; font-weight: normal; font-size: small;" })
                        <script type="text/javascript">
                            $("#Complex").dropdownlist({
                                url: '@Url.Action("ComplexID", "ComboBox")',
                                dataTextField: 'CodeName',
                                dataValueField: 'CodeID'
                            });
                        </script>
                    </div>
                </div>
                <div class="content-row">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Priority, new { style = "font-weight: normal; font-size: small;" })
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Priority, new { style = "width: 100%; font-weight: normal; font-size: small;" })
                        <script type="text/javascript">
                            $("#Priority").dropdownlist({
                                url: '@Url.Action("PriorityID", "ComboBox")',
                                dataTextField: 'CodeName',
                                dataValueField: 'CodeID'
                            });
                        </script>
                    </div>
                </div>
                @*<div class="content-row">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Poster, new { style = "font-weight: normal; font-size: small;" })
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Poster, new { style = "width: 100%; font-weight: normal; font-size: small;" })
                        
                        <script type="text/javascript">
                            $("#Poster").dropdownlist({
                                url: '@Url.Action("EmployeeID", "ComboBox")',
                                dataTextField: 'FullName',
                                dataValueField: 'EmployeeID'
                            });
                        </script>
                    </div>
                </div>
                <div class="content-row">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.DepartmentID, new { style = "font-weight: normal; font-size: small;" })
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.DepartmentID, new { style = "width: 100%; font-weight: normal; font-size: small;" })
                        <script type="text/javascript">
                            $("#DepartmentID").dropdownlist({
                                url: '@Url.Action("DepartmentID", "ComboBox")',
                                dataTextField: 'DepartmentName',
                                dataValueField: 'DepartmentID'
                            });
                        </script>
                    </div>
                </div>
                <div class="content-row">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Recipient, new { style = "font-weight: normal; font-size: small;" })
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Recipient, new { style = "width: 100%; font-weight: normal; font-size: small;" })
                        <script type="text/javascript">
                            @{ 
                                string param = !string.IsNullOrEmpty(Model.DepartmentID) 
                                    ? "?DepartmentID=" + Model.DepartmentID 
                                    : "";
                            }
                            $("#Recipient").dropdownlist({

                                url: '@Url.Action("RecipientID", "ComboBox")' + '@param',
                                dataTextField: 'FullName',
                                dataValueField: 'EmployeeID',
                                open: function () {
                                    var data = {};
                                    var departmentId = $("#DepartmentID").val();
                                    data["DepartmentID"] = departmentId == undefined ? '' : departmentId;

                                    var complex = $("#Recipient").data("kendoDropDownList");
                                    if (complex) {
                                        complex.dataSource.read(data);
                                    }
                                }
                            });
                        </script>
                    </div>
                </div>
                <div class="content-row">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Confirmer, new { style = "font-weight: normal; font-size: small;" })
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Confirmer, new { style = "width: 100%; font-weight: normal; font-size: small;" })
                        <script type="text/javascript">
                            $("#Confirmer").dropdownlist({
                                url: '@Url.Action("ConfirmerID", "ComboBox")',
                                dataTextField: 'FullName',
                                dataValueField: 'EmployeeID'
                            });
                        </script>
                    </div>
                </div>*@
                
               @* @{
                    if(!string.IsNullOrEmpty(Model.Confirmer) && Model.Confirmer.Equals(User.Identity.Name))
                    {
                        <div class="content-row">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.StatusConfirm, new { style = "font-weight: normal; font-size: small;" })
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.StatusConfirm, new { style = "width: 100%; font-weight: normal; font-size: small;" })
                                <script type="text/javascript">
                                    $("#StatusConfirm").dropdownlist({
                                        url: '@Url.Action("StatusConfirmID", "ComboBox")',
                                        dataTextField: 'CodeName',
                                        dataValueField: 'CodeID'
                                    });
                                </script>
                            </div>
                        </div>
                    }
                }*@
            </div>
        </div>
        <div class="title-info">
            <span>Thông tin bổ sung</span>
        </div>
        <div class="tab-content">
            <div class="content-column-full">
                <div class="content-row">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Note, new { style = "font-weight: normal; font-size: small;" })
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.Note, new { style = "width: 100%; height: 200px; font-weight: normal; font-size: small;" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="content-wrapper bottom-toolbar">
        @{
            if(Model.Action == DMS.Models.FormAction.Edit)
            {
                <button id="btnSave" type="button">Lưu & đóng</button>
                <script type="text/javascript">
                    $("#btnSave").kendoButton({
                        width: 120,
                        icon: "tick",
                        click: function () {
                            var data = common.getFormDataTypeJson('frm-update-job');
                            $.ajax({
                                type: 'POST',
                                url: $('#updateJobUrl').val(),
                                data: JSON.stringify(data),
                                contentType: 'application/json; charset=utf-8',
                                success: function (data) {
                                    jobs.job.closeJobDialog();
                                    var history = $("#gridHistories").data("kendoGrid");
                                    if (history) {
                                        history.dataSource.read();
                                    }
                                    if (data.result) {
                                        $.ajax({
                                            type: 'GET',
                                            url: $('#viewJobPartialUrl').val(),
                                            data: {
                                                id: data.id
                                            },
                                            contentType: 'application/json; charset=utf-8',
                                            success: function (result) {
                                                $('#main-content').empty();
                                                $('#main-content').html(result);
                                            }
                                        });
                                    }
                                }
                            });
                        }
                    });
                </script>
            }
            else
            {
                <button id="btnSaveDetails" type="button">Lưu & nhập chi tiết</button>
                <script type="text/javascript">
                    $("#btnSaveDetails").kendoButton({
                        width: 120,
                        icon: "expand-w",
                        click: function () {
                            var data = common.getFormDataTypeJson('frm-update-job');
                            $.ajax({
                                type: 'POST',
                                url: $('#updateJobUrl').val(),
                                data: JSON.stringify(data),
                                contentType: 'application/json; charset=utf-8',
                                success: function (data) {
                                    jobs.job.refreshJobGrid();
                                    jobs.job.closeJobDialog();
                                    var url = $('#viewJobUrl').val() + '/' + data.id;
                                    window.location.href = url;
                                    //window.open(url, '_blank');
                                }
                            });
                        }
                    });
                </script>
            }
        }
        <button id="btnCancel" type="button">Đóng</button>
        <script type="text/javascript">
            $("#btnCancel").kendoButton({
                width: 120,
                icon: "close",
                click: function () {
                    var win = $("#jobDialog").data("kendoWindow");
                    if (win) {
                        win.close();
                    }
                }
            });
        </script>
    </div>
        
}

@Html.Hidden("updateJobUrl", Url.Action("Update", "Jobs"))
@Html.Hidden("viewJobUrl", Url.Action("JobView", "Jobs"))





