@model DMS.Models.JobModels

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.APK)
    <div class="content-wrapper">
        <div class="error">
            @Html.ValidationMessageFor(model => model.JobID)
            @Html.ValidationMessageFor(model => model.JobName)
            @Html.ValidationMessageFor(model => model.Deadline)
            @Html.ValidationMessageFor(model => model.Note)
            @Html.ValidationMessageFor(model => model.Status)
            @Html.ValidationMessageFor(model => model.Recipient)
        </div>
        <div class="title-info">
            <span>Thông tin mặc định</span>
        </div>

        <div class="tab-content">
            <div class="content-column">
                <div class="content-row">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.JobID, new { style = "font-weight: normal; font-size: small;" })
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.JobID, new { style = "width: 100%; font-weight: normal; font-size: small;" })
                    </div>
                </div>
                <div class="content-row">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.JobName, new { style = "font-weight: normal; font-size: small;" })
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.JobName, new { style = "width: 100%; font-weight: normal; font-size: small;" })
                    </div>
                </div>
                <div class="content-row">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Deadline, new { style = "font-weight: normal; font-size: small;" })
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Deadline, new { style = "width: 100%; font-weight: normal; font-size: small;" })

                    </div>
                </div>
                <div class="content-row">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Complex, new { style = "font-weight: normal; font-size: small;" })
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Complex, new { style = "width: 100%; font-weight: normal; font-size: small;" })
                    </div>
                </div>
                <div class="content-row">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Priority, new { style = "font-weight: normal; font-size: small;" })
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Priority, new { style = "width: 100%; font-weight: normal; font-size: small;" })
                    </div>
                </div>
                <div class="content-row">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Rate, new { style = "font-weight: normal; font-size: small;" })
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Rate, new { style = "width: 100%; font-weight: normal; font-size: small;" })
                    </div>
                </div>
            </div>
            <div class="content-column">
                <div class="content-row">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Status, new { style = "font-weight: normal; font-size: small;" })
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Status, new { style = "width: 100%; font-weight: normal; font-size: small;" })
                    </div>
                </div>
                <div class="content-row">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Poster, new { style = "font-weight: normal; font-size: small;" })
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Poster, new { style = "width: 100%; font-weight: normal; font-size: small;" })
                    </div>
                </div>
                <div class="content-row">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Recipient, new { style = "font-weight: normal; font-size: small;" })
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Recipient, new { style = "width: 100%; font-weight: normal; font-size: small;" })
                    </div>
                </div>
                <div class="content-row">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Confirmer, new { style = "font-weight: normal; font-size: small;" })
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Confirmer, new { style = "width: 100%; font-weight: normal; font-size: small;" })
                    </div>
                </div>
                <div class="content-row">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.DepartmentID, new { style = "font-weight: normal; font-size: small;" })
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.DepartmentID, new { style = "width: 100%; font-weight: normal; font-size: small;" })
                    </div>
                </div>

            </div>
        </div>
        <div class="title-info">
            <span>Ghi chú</span>
        </div>
        <div class="tab-content">
            <div class="content-column-full">
                <div class="content-row">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Note, new { style = "font-weight: normal; font-size: small;" })
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.Note, new { style = "width: 100%; height: 120px; font-weight: normal; font-size: small;" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="content-wrapper bottom-toolbar">
        <button id="btnSaveDetails" type="button">Lưu & nhập chi tiết</button>
        <button id="btnCancel" type="button">Đóng</button>
    </div>
        
}

<script type="text/javascript">
    kendo.init($("input"));

    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();

    if (dd < 10) {
        dd = '0' + dd
    }

    if (mm < 10) {
        mm = '0' + mm
    }

    today = mm + '/' + dd + '/' + yyyy;

    $("#Deadline").val(today);
    $("#Deadline").kendoDatePicker({
        format: "MM/dd/yyyy"
    });

    $("#btnSaveDetails").kendoButton({
        width: 120,
        icon: "expand-w"
    });

    $("#btnCancel").kendoButton({
        width: 120,
        icon: "close",
        click: function () {
            var win = $("#window").data("kendoWindow");
            win.close();
        }
    });

    var dataStatus = [
        { text: "Hồ sơ mới", value: "1" },
        { text: "Đang xử lý", value: "2" },
        { text: "Đã hoàn tất", value: "3" },
        { text: "Đã đóng", value: "4" },
    ];

    var dataPriority = [
        { text: "Cấp độ 1", value: "1" },
        { text: "Cấp độ 2", value: "2" },
        { text: "Cấp độ 3", value: "3" },
        { text: "Cấp độ 4", value: "4" },
        { text: "Cấp độ 5", value: "5" }
    ];

    var dataComplex = [
        { text: "Cấp độ A", value: "A" },
        { text: "Cấp độ B", value: "B" },
        { text: "Cấp độ C", value: "C" },
        { text: "Cấp độ D", value: "D" },
        { text: "Cấp độ E", value: "E" }
    ];

    var dataRate = [
        { text: "Loại A", value: "A" },
        { text: "Loại B", value: "B" },
        { text: "Loại C", value: "C" },
        { text: "Loại D", value: "D" },
        { text: "Loại E", value: "E" }
    ];

    // create DropDownList from input HTML element
    $("#Status").dropdownlist({
        dataSource: dataStatus,
        selectedIndex: 0
    });
    $("#Priority").dropdownlist({
        dataSource: dataPriority
    });

    $("#Complex").dropdownlist({
        dataSource: dataComplex,
        selectedIndex: 0
    });
    $("#Rate").dropdownlist({
        dataSource: dataRate,
        selectedIndex: 1
    });

    $("#Poster").dropdownlist({
        url: '@Url.Action("UserID", "ComboBox")'
    });

    $("#Recipient").dropdownlist({
        url: '@Url.Action("UserID", "ComboBox")'
    });

    $("#Confirmer").dropdownlist({
        url: '@Url.Action("UserID", "ComboBox")'
    });

    $("#DepartmentID").dropdownlist({
        url: '@Url.Action("UserID", "ComboBox")'
    });

</script>
