@model DMS.Models.JobModels

@{
    ViewBag.Title = "Xem chi tiết JOBS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="jobMessageDialog"></div>
<script type="text/x-kendo-template" id="jobMessageTemplate">
    <div class="content-wrapper">
        <p>#= message #</p>
        <div class="content-wrapper bottom-toolbar">
            <button class="k-button" id="okButton">Đồng ý</button>
        </div>
    </div>
</script>

@section scripts{
    <script src="~/Scripts/Jobs.js"></script>
    <script>
        $(document).ready(function () {
            var jobMessageTemplate = kendo.template($("#jobMessageTemplate").html());
            var jobMessageWindow = $("#jobMessageDialog").kendoWindow({
                title: "Thông báo",
                visible: false,
                modal: true,
                width: "400px",
                height: "100px",
            }).data("kendoWindow");

            function checkEditJob(data) {
                $.ajax({
                    type: 'POST',
                    url: $('#checkEditJobUrl').val(),
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=utf-8',
                    success: function (dataResult) {
                        if (!dataResult.result) {
                            jobMessageWindow.content(jobMessageTemplate(dataResult)); //send the row data object to the template and render it
                            jobMessageWindow.open().center();

                            $("#okButton").click(function () {
                                jobMessageWindow.close();
                            });
                        }
                        else {
                            var win = $("#jobDialog").data("kendoWindow");
                            win.center();
                            win.refresh({
                                url: $('#jobDialogUrl').val(),
                                data: {
                                    APK: $('#JobAPK').val(),
                                    Action: 2
                                },
                                type: 'POST'
                            });
                            win.open();
                        }
                    }
                });
            }

            $("#btnEdit").kendoButton({
                icon: "pencil",
                click: function () {
                    var data = {
                        APK: $('#JobAPK').val(),
                    };

                    checkEditJob(data);
                }
            });

            $("#btnSent").kendoButton({
                icon: "redo",
                click: function () {
                    var data = {
                        APK: $('#JobAPK').val(),
                    };

                    var win = $("#sentDialog").data("kendoWindow");
                    win.center();
                    win.refresh({
                        url: $('#sentDialogUrl').val(),
                        data: {
                            APK: $('#JobAPK').val(),
                        },
                        type: 'POST'
                    });
                    win.open();
                }
            });

            $("#btnDelete").kendoButton({
                icon: "close",
                click: function (e) {
                    console.log("delete");
                }
            });

            $("#btnRate").kendoButton({
                icon: "note",
                click: function (e) {
                    var win = $("#RateDialog").data("kendoWindow");
                    win.center();
                    win.refresh({
                        url: "@Url.Action("RateDialog", "Jobs")",
                        data: {
                            APK: $('#JobAPK').val(),
                        },
                        type: 'POST'
                    });
                    win.open();
                }
            });

            $("#btnAddNote").kendoButton({
                icon: "plus",
                click: function (e) {
                    var win = $("#NoteDialog").data("kendoWindow");
                    win.center();
                    win.refresh({
                        url: '@Url.Action("NoteDialog", "Jobs")',
                        data: {},
                        type: 'POST'
                    });
                    win.open();
                }
            });

       @* $("#btnEditNote").kendoButton({
            icon: "pencil",
            click: function (e) {
                var win = $("#NoteDialog").data("kendoWindow");
                win.center();
                win.refresh({
                    url: '@Url.Action("NoteDialog", "Jobs")',
                    data: {},
                    type: 'POST'
                });
                win.open();
            }
        });*@

            //$("#btnDeleteNote").kendoButton({
            //    icon: "close",
            //    click: function (e) {
            //        console.log("delete");
            //    }
            //});

            $("#btnAddAttachment").kendoButton({
                icon: "plus",
                click: function (e) {
                    var win = $("#AttachmentDialog").data("kendoWindow");
                    win.center();
                    win.refresh({
                        url: "@Url.Action("AttachmentDialog", "Jobs")",
                        data: {},
                        type: 'POST'
                    });
                    win.open();
                }
            });

            $("#btnDeleteHistory").kendoButton({
                icon: "close",
                click: function (e) {
                    console.log("delete");
                }
            });

            $("#tabstrip").kendoTabStrip({
                tabPosition: "top",
                animation: {
                    open: {
                        effects: "fadeIn"
                    }
                }
            });

            $("#jobDialog").kendoWindow({
                iframe: false,
                modal: true,
                height: 480,
                width: 900,
                actions: ["Maximize", "Close"],
                title: "Cập nhật thông tin JOBS",
                visible: false
            }).data("kendoWindow");

            $("#sentDialog").kendoWindow({
                iframe: false,
                modal: true,
                height: 380,
                width: 900,
                actions: ["Maximize", "Close"],
                title: "Gửi JOBS",
                visible: false
            }).data("kendoWindow");

            $("#NoteDialog").kendoWindow({
                iframe: false,
                modal: true,
                height: 530,
                width: 800,
                title: "Cập nhật ghi chú",
                actions: ["Maximize", "Close"],
                visible: false
            }).data("kendoWindow");

            $("#HistoryDialog").kendoWindow({
                iframe: false,
                modal: true,
                height: 530,
                width: 800,
                title: "Xem thông tin lịch sử",
                actions: ["Maximize", "Close"],
                visible: false
            }).data("kendoWindow");

            $("#AttachmentDialog").kendoWindow({
                iframe: false,
                modal: true,
                height: 350,
                width: 500,
                title: "Đính kèm tập tin",
                actions: ["Maximize", "Close"],
                visible: false
            }).data("kendoWindow");

            $("#RateDialog").kendoWindow({
                iframe: false,
                modal: true,
                height: 350,
                width: 900,
                title: "Đánh giá",
                actions: ["Maximize", "Close"],
                visible: false
            }).data("kendoWindow");

            $("#UpdateAttachmentDialog").kendoWindow({
                iframe: false,
                modal: true,
                height: 350,
                width: 500,
                title: "Cập nhật thông tin đính kèm",
                actions: ["Maximize", "Close"],
                visible: false
            }).data("kendoWindow");
        });

    </script>

}

<div id="View">
    <div class="k-header">
        <div id="tabstrip">
            <ul>
                <li class="k-state-active">Thông tin JOBS</li>
                <li>Ghi chú</li>
                <li>Đính kèm</li>
                <li>Lịch sử</li>
                <li>Thông tin hệ thống</li>
            </ul>
            <div class="content-wrapper">
                <div class="toolbar">
                    <button id="btnEdit" title="Cập nhật" type="button">Sửa</button>
                    @{
                        string visibleConfirmer = Model.CurrentEmployeeID == Model.Confirmer
                            ? "visible" : "hidden";   
                    }
                    <button id="btnRate" style="visibility: @visibleConfirmer" title="Đánh giá" type="button">Đánh giá</button>

                    <button id="btnDelete" style="visibility: hidden" title="Xóa" type="button"></button>
                    @{
                        if (Model.Confirmer == Model.CurrentEmployeeID)
                        {
                        <button id="btnLock" title="Không duyệt" type="button" class="btn-right">Không duyệt</button>
                        <script>
                            $("#btnLock").kendoButton({
                                icon: "lock",
                                click: function (e) {
                                    var data = {
                                        APK: $('#JobAPK').val(),
                                        StatusConfirm: '0'
                                    };

                                    $.ajax({
                                        type: 'POST',
                                        url: $('#confirmJobUrl').val(),
                                        data: JSON.stringify(data),
                                        contentType: 'application/json; charset=utf-8',
                                        success: function (dataResult) {
                                            if (dataResult.result) {
                                                $.ajax({
                                                    type: 'GET',
                                                    url: $('#viewJobPartialUrl').val(),
                                                    data: {
                                                        id: dataResult.id
                                                    },
                                                    contentType: 'application/json; charset=utf-8',
                                                    success: function (result) {
                                                        $('#main-content').empty();
                                                        $('#main-content').html(result);
                                                    }
                                                });
                                            }
                                        }
                                    });
                                }
                            });
                        </script>
                        <button id="btnUnlock" title="Duyệt" type="button" class="btn-right">Duyệt</button>
                        <script>
                            $("#btnUnlock").kendoButton({
                                icon: "unlock",
                                click: function (e) {
                                    var data = {
                                        APK: $('#JobAPK').val(),
                                        StatusConfirm: '1'
                                    };

                                    $.ajax({
                                        type: 'POST',
                                        url: $('#confirmJobUrl').val(),
                                        data: JSON.stringify(data),
                                        contentType: 'application/json; charset=utf-8',
                                        success: function (dataResult) {
                                            if (dataResult.result) {
                                                $.ajax({
                                                    type: 'GET',
                                                    url: $('#viewJobPartialUrl').val(),
                                                    data: {
                                                        id: dataResult.id
                                                    },
                                                    contentType: 'application/json; charset=utf-8',
                                                    success: function (result) {
                                                        $('#main-content').empty();
                                                        $('#main-content').html(result);
                                                    }
                                                });
                                            }
                                        }
                                    });
                                }
                            });
                        </script>
                        }

                        @Html.Hidden("confirmJobUrl", Url.Action("ConfirmJob", "Jobs"))
                    }
                    <button id="btnSent" title="Chuyển công việc" type="button" class="btn-right">Chuyển công việc</button>
                </div>
                <div class="title-info">
                    <span>Thông tin mặc định</span>
                </div>
                <div id="main-content">
                    @Html.Partial("JobViewPartial")
                </div>
            </div>

            <div class="content-wrapper">
                <div class="toolbar">
                    <button id="btnAddNote" title="Thêm mới ghi chú" type="button"></button>
                </div>
                <div class="title-info">
                    <span>Ghi chú công việc</span>
                </div>
                @Html.Partial("GridNotes")
            </div>
            <div class="content-wrapper">
                <div class="toolbar">
                    <button id="btnAddAttachment" title="Tải lên đính kèm" type="button"></button>
                </div>
                <div class="title-info">
                    <span>Tệp tin đính kèm</span>
                </div>
                @Html.Partial("GridAttachments")
            </div>
            <div class="content-wrapper">
                <div class="toolbar">
                    <button id="btnDeleteHistory" title="Xóa" type="button"></button>
                </div>
                <div class="title-info">
                    <span>Lịch sử thực hiện</span>
                </div>
                @Html.Partial("GridHistories")
            </div>
            <div class="content-wrapper">
                <div class="title-info">
                    <span>Thông tin hệ thống</span>
                </div>
                <div class="tab-content">
                    <div class="content-column">
                        <div class="content-row">
                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.CreatedDate)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.CreatedDate)
                            </div>
                        </div>
                        <div class="content-row">
                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.CreatedUserID)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.CreatedUserID)
                            </div>
                        </div>
                    </div>
                    <div class="content-column">

                        <div class="content-row">
                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.LastModifyDate)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.LastModifyDate)
                            </div>
                        </div>
                        <div class="content-row">
                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.LastModifyUserID)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.LastModifyUserID)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Hidden("JobAPK", Model.APK)
@Html.Hidden("jobDialogUrl", Url.Action("JobDialog", "Jobs"))
@Html.Hidden("sentDialogUrl", Url.Action("SentDialog", "Jobs"))
@Html.Hidden("checkEditNoteUrl", Url.Action("CheckEditNote", "Jobs"))
@Html.Hidden("checkEditJobUrl", Url.Action("CheckEdit", "Jobs"))
@Html.Hidden("viewJobPartialUrl", Url.Action("JobViewPartial", "Jobs"))
<div id="sentDialog"></div>
<div id="jobDialog"></div>
<div id="HistoryDialog"></div>
<div id="NoteDialog"></div>
<div id="AttachmentDialog"></div>
<div id="RateDialog"></div>
<div id="UpdateAttachmentDialog">
    @{
        Html.RenderPartial("UpdateAttachmentDialog", new DMS.Models.AttachmentModels());
    }
</div>
