@model DMS.Models.JobModels

@{
    ViewBag.Title = "Xem chi tiết hồ sơ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        $("#btnEdit").kendoButton({
            icon: "pencil",
            click: function (e) {
                console.log("edit");
            }
        });

        $("#btnDelete").kendoButton({
            icon: "close",
            click: function (e) {
                console.log("delete");
            }
        });

        $("#btnAddNote").kendoButton({
            icon: "plus",
            click: function (e) {
                var win = $("#NoteDialog").data("kendoWindow");
                win.center();
                win.open();
            }
        });

        $("#btnEditNote").kendoButton({
            icon: "pencil",
            click: function (e) {
                var win = $("#NoteDialog").data("kendoWindow");
                win.center();
                win.refresh({
                    url: "@Url.Action("NoteDialog", "Jobs")",
                    data: {},
                    type: 'POST'
                });
                win.open();
            }
        });
        
        $("#btnDeleteNote").kendoButton({
            icon: "close",
            click: function (e) {
                console.log("delete");
            }
        });

        $("#btnAddAttachment").kendoButton({
            icon: "plus",
            click: function (e) {
                var win = $("#AttachmentDialog").data("kendoWindow");
                win.center();
                win.refresh({
                    url: "@Url.Action("AttachmentDialog", "Jobs")",
                     data: {},
                     type: 'POST'
                 });
                win.open();
            }
        });

        $("#btnEditAttachment").kendoButton({
            icon: "pencil",
            click: function (e) {
                var win = $("#UpdateAttachmentDialog").data("kendoWindow");
                win.center();
                win.refresh({
                    url: "@Url.Action("UpdateAttachmentDialog", "Jobs")",
                    data: {},
                    type: 'POST'
                });
                win.open();
            }
        });

        $("#btnDeleteAttachment").kendoButton({
            icon: "close",
            click: function (e) {
                console.log("delete");
            }
        });

        $("#btnDeleteHistory").kendoButton({
            icon: "close",
            click: function (e) {
                console.log("delete");
            }
        });
    });
</script>
<div id="View">
    <div class="demo-section k-header">
        <div id="tabstrip">
            <ul>
                <li class="k-state-active">Thông tin hồ sơ</li>
                <li>Ghi chú</li>
                <li>Đính kèm</li>
                <li>Lịch sử</li>
                <li>Thông tin hệ thống</li>
            </ul>
            <div class="content-wrapper">
                <div class="toolbar">
                    <button id="btnEdit" title="Cập nhật" type="button"></button>
                    <button id="btnDelete" title="Xóa" type="button"></button>
                </div>
                <div class="title-info">
                    <span>Thông tin mặc định</span>
                </div>
                <div class="tab-content">
                    <div class="content-column">
                        <div class="content-row">
                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.JobID)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.JobID)
                            </div>
                        </div>
                        <div class="content-row">
                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.JobName)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.JobName)
                            </div>
                        </div>
                        <div class="content-row">
                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.Priority)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.Priority)
                            </div>
                        </div>
                        <div class="content-row">
                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.Complex)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.Complex)
                            </div>
                        </div>
                        <div class="content-row">
                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.Rate)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.Rate)
                            </div>
                        </div>
                    </div>
                    <div class="content-column">
                        <div class="content-row">
                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.Deadline)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.Deadline)
                            </div>
                        </div>
                        <div class="content-row">
                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.StatusName)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.StatusName)
                            </div>
                        </div>
                        <div class="content-row">
                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.Poster)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.Poster)
                            </div>
                        </div>
                        <div class="content-row">
                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.Recipient)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.Recipient)
                            </div>
                        </div>
                        <div class="content-row">
                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.Confirmer)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.Confirmer)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="title-info">
                    <span>Thông tin chi tiết</span>
                </div>
                    <div class="content-column-full">
                        <div class="content-row">
                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.Note)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.Note)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-wrapper">
                <div class="toolbar">
                    <button id="btnAddNote" title="Thêm mới ghi chú" type="button"></button>
                    <button id="btnEditNote" title="Cập nhật ghi chú" type="button"></button>
                    <button id="btnDeleteNote" title="Xóa ghi chú" type="button"></button>
                </div>
                <div class="title-info">
                    <span>Ghi chú công việc</span>
                </div>
                @Html.Partial("GridNotes")
            </div>
            <div class="content-wrapper">
                <div class="toolbar">
                    <button id="btnAddAttachment" title="Tải lên đính kèm" type="button"></button>
                    <button id="btnEditAttachment" title="Cập nhật đính kèm" type="button"></button>
                    <button id="btnDeleteAttachment" title="Xóa đính kèm" type="button"></button>
                </div>
                <div class="title-info">
                    <span>Tệp tin đính kèm</span>
                </div>
                @Html.Partial("GridAttachments")
            </div>
            <div class="content-wrapper">
                <div class="toolbar">
                    <button id="btnDeleteHistory" title="Xóa" type="button"></button>
                </div>
                <div class="title-info">
                    <span>Lịch sử thực hiện</span>
                </div>
                @Html.Partial("GridHistories")
            </div>
            <div class="content-wrapper">
                <div class="title-info">
                    <span>Thông tin hệ thống</span>
                </div>
                <div class="tab-content">
                    <div class="content-column">
                        <div class="content-row">
                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.CreatedDate)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.CreatedDate)
                            </div>
                        </div>
                        <div class="content-row">
                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.CreatedUserID)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.CreatedUserID)
                            </div>
                        </div>
                    </div>
                    <div class="content-column">
                        
                        <div class="content-row">
                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.LastModifyDate)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.LastModifyDate)
                            </div>
                        </div>
                        <div class="content-row">
                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.LastModifyUserID)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.LastModifyUserID)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#tabstrip").kendoTabStrip({
                tabPosition: "top",
                animation: {
                    open: {
                        effects: "fadeIn"
                    }
                }
            });

            $("#NoteDialog").kendoWindow({
                iframe: false,
                modal: true,
                height: 200,
                width: 500,
                title: "Cập nhật ghi chú",
                visible: false
            }).data("kendoWindow");

            $("#AttachmentDialog").kendoWindow({
                iframe: false,
                modal: true,
                height: 350,
                width: 500,
                title: "Đính kèm tập tin",
                visible: false
            }).data("kendoWindow");

            $("#UpdateAttachmentDialog").kendoWindow({
                iframe: false,
                modal: true,
                height: 350,
                width: 500,
                title: "Cập nhật thông tin đính kèm",
                visible: false
            }).data("kendoWindow");
        });

    </script>
</div>

<div id="NoteDialog">
    @{
        Html.RenderPartial("NoteDialog", new DMS.Models.NoteModels());
    }
</div>

<div id="AttachmentDialog">
    @{
        Html.RenderPartial("AttachmentDialog", new DMS.Models.AttachmentModels());
    }
</div>

<div id="UpdateAttachmentDialog">
    @{
        Html.RenderPartial("UpdateAttachmentDialog", new DMS.Models.AttachmentModels());
    }
</div>