@model DMS.Models.NoteModels
<div id="noteConfirmDialog"></div>
<script type="text/x-kendo-template" id="noteConfirmTemplate">
    <div class="content-wrapper">
        <p>Bạn có muốn xóa ghi chú này ?</p>
        <div class="content-wrapper bottom-toolbar">
            <button class="k-button" id="yesButton">Đồng ý</button>
            <button class="k-button" id="noButton">Hủy</button>
        </div>
    </div>
</script>
<div id="noteMessageDialog"></div>
<script type="text/x-kendo-template" id="noteMessageTemplate">
    <div class="content-wrapper">
        <p>#= message #</p>
        <div class="content-wrapper bottom-toolbar">
            <button class="k-button" id="okButton">Đồng ý</button>
        </div>
    </div>
</script>
<script>
    $(document).ready(function () {
        var noteConfirmTemplate = kendo.template($("#noteConfirmTemplate").html());
        var noteConfirmWindow = $("#noteConfirmDialog").kendoWindow({
            title: "Thông báo",
            visible: false,
            modal: true,
            width: "400px",
            height: "100px",
        }).data("kendoWindow");
        var noteMessageTemplate = kendo.template($("#noteMessageTemplate").html());
        var noteMessageWindow = $("#noteMessageDialog").kendoWindow({
            title: "Thông báo",
            visible: false,
            modal: true,
            width: "400px",
            height: "100px",
        }).data("kendoWindow");

        deleteNote = function (e) {
            var data = {
                APK: $("#APK").val()
            };

            noteConfirmWindow.content(noteConfirmTemplate(data)); //send the row data object to the template and render it
            noteConfirmWindow.open().center();

            $("#yesButton").click(function () {
                $.ajax({
                    type: 'POST',
                    url: $('#removeNoteUrl').val(),
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=utf-8',
                    success: function () {
                        var noteGrid = $('#gridNotes').data('kendoGrid');
                        if (noteGrid) {
                            noteGrid.dataSource.read();
                        }
                        noteConfirmWindow.close();
                        var win = $("#NoteDialog").data("kendoWindow");
                        win.close();
                    }
                });
            });

            $("#noButton").click(function () {
                noteConfirmWindow.close();
            });
        };
    });
</script>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frm-update-note" }))
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.APK)
    if(User.Identity.Name.Equals(Model.CreatedUserID) && Model.Action == DMS.Models.FormAction.View)
    {
        <div class="content-wrapper">
            <div class="toolbar">
                <button id="btnEditNote" title="Cập nhật" type="button"></button>
                <script>
                    $("#btnEditNote").kendoButton({
                        icon: "pencil",
                        click: function (e) {
                            var win = $("#NoteDialog").data("kendoWindow");
                            win.close();
                            win.center();
                            win.refresh({
                                url: $('#NoteDialogUrl').val(),
                                data: { APK: $("#APK").val(), Action: 2 },
                                type: 'POST'
                            });
                            win.open();
                        }
                    })
                </script>
                <button id="btnDeleteNote" title="Xóa" type="button"></button>
                <script>
                    $("#btnDeleteNote").kendoButton({
                        icon: "close",
                        click: function (e) {
                            deleteNote(e);
                        }
                    });
                </script>
            </div>
        </div>
    }
    <div class="content-wrapper">
        <div class="title-info">
            <span>Thông tin ghi chú</span>
        </div>
        @{
    if (Model.Action == DMS.Models.FormAction.View)
    {
                <div class="tab-content">
                    <div class="content-column-full">
                        <div class="content-row">
                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.Title)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.Title)
                            </div>
                        </div>
                        <div class="content-row">
                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.Description)
                            </div>
                            <div class="display-field" style="max-height: 300px; overflow: auto">
                                @Html.DisplayFor(model => model.Description)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="title-info">
                    <span>Thông tin hệ thống</span>
                </div>
                <div class="tab-content">
                    <div class="content-column">
                        <div class="content-row">
                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.CreatedDate)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.CreatedDate)
                            </div>
                        </div>
                        <div class="content-row">
                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.CreatedUserID)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.CreatedUserID)
                            </div>
                        </div>
                    </div>
                    <div class="content-column">
                        <div class="content-row">
                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.LastModifyDate)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.LastModifyDate)
                            </div>
                        </div>
                        <div class="content-row">
                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.LastModifyUserID)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.LastModifyUserID)
                            </div>
                        </div>
                    </div>
                </div>
                
            }
            else
            {
                <div class="error">
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
                <div class="tab-content">
                    <div class="content-column-full">
                        <div class="content-row">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Title, new { style = "font-weight: normal; font-size: small;" })
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.Title, new { style = "width: 100%; font-weight: normal; font-size: small;" })
                            </div>
                        </div>
                        <div class="content-row">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Description, new { style = "font-weight: normal; font-size: small;" })
                            </div>
                            <div class="editor-field">
                                @Html.TextAreaFor(model => model.Description, new { style = "width: 100%; height: 200px; font-weight: normal; font-size: small;" })
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <div class="content-wrapper bottom-toolbar">
        @{
    if (Model.Action != DMS.Models.FormAction.View)
    {
                <button id="btnNoteSave" type="button">Lưu</button>
                <script>
                    $("#btnNoteSave").kendoButton({
                        width: 120,
                        icon: "tick",
                        click: function () {
                            var data = common.getFormDataTypeJson('frm-update-note');
                            data['JobAPK'] = $('#JobAPK').val();

                            $.ajax({
                                type: 'POST',
                                url: $('#updateNoteUrl').val(),
                                data: JSON.stringify(data),
                                contentType: 'application/json; charset=utf-8',
                                success: function () {
                                    refreshGrid();
                                    var history = $("#gridHistories").data("kendoGrid");
                                    if (history) {
                                        history.dataSource.read();
                                    }
                                    var win = $("#NoteDialog").data("kendoWindow");
                                    if (win) {
                                        win.close();
                                    }
                                }
                            });
                        }
                    });
                </script>
    }
        }
        <button id="btnNoteCancel" type="button">Đóng</button>
        <script>
            $("#btnNoteCancel").kendoButton({
                width: 120,
                icon: "close",
                click: function () {
                    var win = $("#NoteDialog").data("kendoWindow");
                    if (win) {
                        win.close();
                    }
                }
            });
        </script>
    </div>
}

<script type="text/javascript">
    kendo.init($("input"));
    refreshGrid = function () {
        var noteGrid = $('#gridNotes').data('kendoGrid');
        if (noteGrid) {
            noteGrid.dataSource.read({ apk: $('#JobAPK').val() });
        }
    }
</script>