@model DMS.Models.AttachmentModels

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frm-update-attachment" }))
{
    @Html.ValidationSummary(true)

    <div class="content-wrapper">
        <div class="title-info">
            <span>Thông tin bổ sung đính kèm</span>
        </div>
        <div class="error">
            @Html.ValidationMessageFor(model => model.AttachmentFileName)
            @Html.ValidationMessageFor(model => model.AttachmentComment)
        </div>
        <div class="tab-content">
            <div class="content-column-full">
                <div class="content-row">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.AttachmentFileName, new { style = "font-weight: normal; font-size: small;" })
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.AttachmentFileName, new { @readonly = true, style = "width: 100%; font-weight: normal; font-size: small;" })
                        @Html.HiddenFor(model => model.APK)
                        @Html.HiddenFor(model => model.AttachmentFileExtension)
                        @Html.HiddenFor(model => model.AttachmentFileSize)
                        @Html.HiddenFor(model => model.AttachmentFileType)
                        @Html.HiddenFor(model => model.AttachmentOwner)
                        @Html.HiddenFor(model => model.CreatedDate)
                        @Html.HiddenFor(model => model.CreatedUserID)
                    </div>
                </div>
                <div class="content-row">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.AttachmentComment, new { style = "font-weight: normal; font-size: small;" })
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.AttachmentComment, new { style = "width: 100%; height: 120px; font-weight: normal; font-size: small;" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-wrapper bottom-toolbar">
        <button id="btnAttachmentSave" type="button">Lưu</button>
        <button id="btnAttachmentCancel" type="button">Đóng</button>
    </div>
        
}

@Html.Hidden("updateAttachmentUrl", Url.Action("UpdateAttachment", "Jobs"))
<script type="text/javascript">
    kendo.init($("input"));
    
    $("#btnAttachmentSave").kendoButton({
        width: 120,
        icon: "tick",
        click: function () {
            var data = common.getFormDataTypeJson('frm-update-attachment');
            $.ajax({
                type: 'POST',
                url: $('#updateAttachmentUrl').val(),
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                success: function () {
                    jobs.attachment.refreshAttachmentGrid();
                    jobs.attachment.closeUpdateAttachmentDialog();
                }
            });
        }
    });
    $("#btnAttachmentCancel").kendoButton({
        width: 120,
        icon: "close",
        click: function () {
            var win = $("#UpdateAttachmentDialog").data("kendoWindow");
            if (win) {
                win.close();
            }
        }
    });
</script>