<!DOCTYPE html>
<html lang="en" style="background: #fff;">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - DMS</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/kendoUI/kendo.common.core.min.css" rel="stylesheet" />
    <link href="~/Content/kendoUI/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendoUI/kendo.material.min.css" rel="stylesheet" />
    <link href="~/Content/kendoUI/kendo.material.mobile.min.css" rel="stylesheet" />
    <link href="~/Content/kendoUI/kendo.rtl.min.css" rel="stylesheet" />
    <link href="~/Content/kendoUI/kendo.dataviz.metro.min.css" rel="stylesheet" />
    <link href="~/Content/kendoUI/kendo.dataviz.min.css" rel="stylesheet" />

    <script src="~/Scripts/kendoUI/jquery.min.js"></script>
    <script src="~/Scripts/kendoUI/angular.min.js"></script>
    <script src="~/Scripts/kendoUI/kendo.all.min.js"></script>
    <script src="~/Scripts/kendoUI/console.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <style>
        html
        {
            background-image: url(Content/images/contentbg30.png);
            background-color: #fff !important;
            background-repeat: repeat-y;
            padding: 0;
            margin: 0;
            height: 100%;
            background-color: transparent !important;
        }
    </style>
</head>
<body id="login-main-page">
    <div id="body" style="background-color: transparent; height: 100%;">
        @RenderSection("featured", required: false)
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
