<script>
    angular.module("KendoMenu", ["kendo.directives"])
      .controller("main-menu", function ($scope) {
          $scope.menuOrientation = "horizontal";
      })

    function timeCtrl($scope, $timeout) {
        $scope.countE = "00";
        $scope.countS = "00";
        $scope.countR = "00";
        $scope.countP = "00";
        $scope.countO = "00";

        updateTime();

        function updateTime() {
            $.ajax({
                type: 'POST',
                url: $('#countUrl').val(),
                data: {},
                contentType: 'application/json; charset=utf-8',
                success: function (dataResult) {
                    $scope.countE = dataResult.countE;
                    $scope.countS = dataResult.countS;
                    $scope.countR = dataResult.countR;
                    $scope.countP = dataResult.countP;
                    $scope.countO = dataResult.countO;
                }
            });
            
            $timeout(updateTime, 10000);
        };
        
    }

</script>
@Html.Hidden("countUrl", Url.Action("CountJobEmps", "Jobs"))
<div id="context-menu" ng-app="KendoMenu">
    <div class="menu-section k-content" ng-controller="main-menu">
        <div class="box-col">
              <ul   kendo-menu style="display: inline-block; min-width: 150px; border: none !important;"
                    k-orientation="menuOrientation"
                    k-rebind="menuOrientation"  
                    ng-controller="timeCtrl">
                <li>
                     <a href="@Url.Action("Index", "Jobs")">Hồ sơ cá nhân <span id="notify{{countP}}" class="red-notify">{{countP}}</span></a>
                </li>
                <li>
                    <a href="@Url.Action("JobsEmployee", "Jobs")">Hồ sơ từ nhân viên <span id="notify{{countE}}" class="red-notify">{{countE}}</span></a>
                </li>
                <li>
                    <a href="@Url.Action("JobsReceived", "Jobs")">Hồ sơ đã nhận <span id="notify{{countR}}" class="red-notify">{{countR}}</span></a>
                </li>
                <li>
                    <a href="@Url.Action("JobsSent", "Jobs")">Hồ sơ đã gửi <span id="notify{{countS}}" class="red-notify">{{countS}}</span></a>
                </li>
                <li>
                    <a href="@Url.Action("JobsOverdue", "Jobs")">Hồ sơ quá hạn <span id="notify{{countO}}" class="red-notify">{{countO}}</span></a>
                </li>
                <li> Hệ thống
                    <ul>
                        <li>Tài khoản người dùng</li>
                    </ul>
                </li>
                <li> Báo cáo
                    <ul>
                      <li>Footwear</li>
                      <li>Leisure Clothing</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <style>
        .k-menu .k-item, .k-widget.k-menu-horizontal > .k-item
        {
            border:none !important;
        }
        .menu-section {
            padding:0 20px;
        }
        .menu-section .box-col li {
            margin: 0;
            border: none;
        }
    </style>
</div>

