@model DMS.Models.LocalPasswordModel
@{
    
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<p class="message-success">@ViewBag.StatusMessage</p>

@if (ViewBag.HasLocalPassword)
{
    ViewBag.Title = "Đổi mật khẩu";
    @Html.Partial("_ChangePasswordPartial")
}
else
{
    ViewBag.Title = "Đặt lại mật khẩu";
    @Html.Partial("_SetPasswordPartial")
}

@*<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")

    <h3>Thêm tài khoản khác</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
