@model DMS.Models.LocalPasswordModel
@{
    ViewBag.Title = "Thay đổi mật khẩu";
}

<p class="message-success">@ViewBag.StatusMessage</p>

<p>Bạn đang đăng nhập với tên <strong>@User.Identity.Name</strong>.</p>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

@*<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")

    <h3>Thêm tài khoản khác</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
